.boli
	background: #f0f0f0
.insuranceDetail
	font-size: (26/$scale)
	color: #222
	.detailTop
		display: flex
		align-items: center
		width: 100%
		height: (100/$scale)
		line-height: (100/$scale)
	.borderBottom
		border-bottom: 1px solid #dcdcdc
		.insuranceTitleDes
			display: flex
			align-items: center
			width: (240/$scale)
			height: 100%
			line-height: (40/$scale)
			font-size: (26/$scale)
		.insurancePrice
			width: (280/$scale)
			height: 100%
			.inPriceDropDown
				.select
					width: (220/$scale)
					height: (60/$scale)
					border: solid 1px #dcdcdc
					border-radius: 5px
					background: url(down@2x.png) no-repeat 
					background-size: (25/$scale) (15/$scale)
					background-position: (170/$scale) center
					direction: ltr
					appearance:none
					padding-left: (20/$scale)
					color: #333
					outline: none
					overflow:hidden
		.statusWarp
			width: (160/$scale)
			.statusA
				border: 1px solid #FF4455
				display: flex
				border-radius: 3px
				justify-content: center
				.status
					width: (78/$scale)
					height: (60/$scale)
					line-height: (60/$scale)
					text-align: center
					display: inline-block
					color: #999
				.redStatus
					width: (78/$scale)
					height: (60/$scale)
					line-height: (60/$scale)
					text-align: center
					display: inline-block
					background: #FF4455
					color: #fff
		.boliStatus
			color: #FF4455
			border: none