@import '~common/stylus/variable.styl'
@import '~common/stylus/mixin.styl'
.mianPolicy
    width: 100%
    height: 100%
    position: fixed
    top: 0
    left: 0
    background: rgba(0,0,0,0.5)
    z-index: 99
    .policyWarp
        width: (710/$scale)
        margin: (100/$scale) auto 0 auto
        background: #fff
        border-radius: (10/$scale)
        .mainTitle
            height: (100/$scale)
            line-height: (100/$scale)
            text-align: center
            color: $color-main
            background: #AAD0ff
            font-size: (34/$scale)
            border-radius: (10/$scale) (10/$scale) 0 0
        .mainInfo
            .mainInfoUl
                .mainInfoLi
                    list-style: none
                    font-size: (30/$scale)
                    height: (100/$scale)
                    line-height: (100/$scale)
                    border-bottom: 1px solid #dcdcdc
                    padding: 0 (40/$scale) 0 (30/$scale)
                    display: flex
                    justify-content: space-between
                    .spanLeft
                        color: $color-a-left
                    .spanRight
                        color: $color-a-right
                        .ico
                            margin-left: (20/$scale)
                            color: $color-theme-placeholder
                        input
                            text-align: right